.canvasMain {
  min-height: 810px;
  min-width: 1139px;
  width: 1139px;
  height: 810px;
  padding: 0;
  font-weight: 600;
  color: #1976d2;
  background: #e3f2fd;
  border: 2px solid #1976d2;
  border-radius: 6px;
  transition: all 0.2s;
  position: relative;
  overflow: visible;
}

.canvasMainOver {
  color: #fff;
  background: #1976d2;
}
